html, body {
  margin: 0px;
}

body {
  width: 100vw;
  height: 100vh;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

#model-upload {
  position: absolute;
  top: 20px;
  color: white;
}